.navbar-default.sidebar.panel-sidebar(role="navigation")
  .sidebar-nav.nav-collapse
    ul.nav(style='height:57vh;' id='side-menu')
      li= link_to "<i class='fa fa-line-chart fa-fw'></i>Overall".html_safe, link_chart_path(@link, :chart => 'overall')
      li= link_to "<i class='fa fa-map-o fa-fw'></i>Countries".html_safe, link_chart_path(@link, :chart => 'country')
      li= link_to "<i class='fa fa-pie-chart fa-fw'></i>Browsers".html_safe, link_chart_path(@link, :chart => 'browser')
      li= link_to "<i class='fa fa-pie-chart fa-fw'></i>Operating Systems".html_safe, link_chart_path(@link, :chart => 'operating_system')
      li= link_to "<i class='fa fa-pie-chart fa-fw'></i>Devices".html_safe, link_chart_path(@link, :chart => 'device')
