@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import 'vendor/sb-admin-2';


#page-wrapper {
  margin: 0;
}

.panel-sidebar {
  margin-top: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  margin-right: 0;
  position: relative;
  width: 170px;
}